<html>

<head>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/song-form.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body>
    <%- include("partials/navbar.ejs") %>
        <main>
            <div class="image-container">
            </div>
            <%if(locals.song){%>
                <form method="post" action="/songs/new/<%=song.id%>">
                    <h1>Edit song</h1>
                    <input placeholder="Song name" name="songName" pattern="^[a-zA-Z]+.*\S$" value="<%=song.name%>"
                        required>
                    </input>

                    <input placeholder="Interpreter name" name="interpreterName" pattern="^[a-zA-Z]+.*\S$"
                        value="<%=song.interpreter%>" required>
                    </input>

                    <select name="tempo" required>
                        <option value="<%=song.tempo.id%>">
                            Select a tempo (Selected <%=song.tempo.name%> )
                        </option>
                        <% locals.tempos.forEach((tempo)=>{ %>
                            <option value=<%=tempo.id%>>
                                <%=tempo.name%>
                            </option>
                            <%})%>
                    </select>
                    </input>
                    <select name="tone">
                        <option value="<%=song.tone.id%>">
                            Select a tone (Selected <%=song.tone.name%> )
                        </option>
                        <% locals.tones.forEach((tone)=>{ %>
                            <option value=<%=tone.id%>>
                                <%=tone.name%>
                            </option>
                            <%})%>
                    </select>

                    <button type="submit">Update song</button>
                </form>


                <%}else{ %>
                    <form method="post" action="/songs/new">
                        <h1>Add new song</h1>
                        <input placeholder="Song name" name="songName" pattern="^[a-zA-Z]+.*\S$" required>
                        </input>
                        <input placeholder="Interpreter name" name="interpreterName" pattern="^[a-zA-Z]+.*\S$" required>
                        </input>
                        <select name="tempo">
                            <option value="">Select a tempo</option>
                            <% locals.tempos.forEach((tempo)=>{ %>
                                <option value=<%=tempo.id%>>
                                    <%=tempo.name%>
                                </option>
                                <%})%>
                        </select>
                        </input>
                        <select name="tone">
                            <option value="">Select a tone</option>
                            <% locals.tones.forEach((tone)=>{ %>
                                <option value=<%=tone.id%>>
                                    <%=tone.name%>
                                </option>
                                <%})%>
                        </select>

                        <button type="submit">Add song</button>
                    </form>

                    <%}%>
        </main>
</body>

</html>