<html>

<head>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/song-page.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body>
    <%- include("partials/navbar.ejs") %>
        <main>
            <h1>Songs</h1>
            <div class="headers">
                <p class="name">Name</p>
                <p class="interpreter">Interpreted</p>
                <p class="tone">Tone</p>
                <p class="tempo">Tempo</p>
                <p class="actions">Actions</p>
            </div>
            <ul>
                <% locals.songs.forEach((song)=>{ %>
                    <li>
                        <p class="name">
                            <%=song.name%>
                        </p>
                        <p class="interpreter">
                            <%=song.interpreter%>
                        </p>
                        <p class="tone">
                            <%=song.tone%>
                        </p>
                        <p class="tempo">
                            <%=song.tempo%>
                        </p>
                        <div class="actions-container">
                            <a href="<%=`songs/edit/${song.id}`%>">
                                <button class="edit">
                                    <span class="material-symbols-outlined edit-icon">
                                        edit_square
                                    </span>
                                    <p>Edit</p>
                                </button>
                            </a>
                            <a href="<%=`songs/delete/${song.id}`%>">
                                <button class="delete">
                                    <span class="material-symbols-outlined delete-icon">
                                        delete
                                    </span>
                                    <p>Delete</p>
                                </button>
                            </a>
                        </div>
                    </li>
                    <%}) %>
            </ul>

            <a href="/songs/new" class="add button">
                <span class="material-symbols-outlined add-icon">
                    library_add
            </a>
        </main>
</body>

</html>