<html>

<head>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/song-form.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body>
    <%- include("partials/navbar.ejs") %>
        <main>
            <div class="image-container">
            </div>
            <%if(locals.song){%>
                <form method="post" action="/songs/new/<%=song.id%>">
                    <h1>Edit song</h1>
                    <input placeholder="Song name" name="songName" pattern="^[a-zA-Z]+.*\S$" value="<%=song.name%>"
                        required>
                    </input>

                    <input placeholder="Interpreter name" name="interpreterName" pattern="^[a-zA-Z]+.*\S$"
                        value="<%=song.interpreter%>" required>
                    </input>

                    <input placeholder="Tempo" name="tempo" value="<%=song.tempo%>" required>
                    </input>
                    <label>
                        Tone:
                        <select name="tone" required>
                            <option value="<%=song.tone%>">Select a Tone(Default <%=toneName%>)</option>
                            <option value="1">C</option>
                            <option value="2">C#</option>
                            <option value="3">D</option>
                            <option value="4">D#</option>
                            <option value="5">E</option>
                            <option value="6">F</option>
                            <option value="7">F#</option>
                            <option value="8">G</option>
                            <option value="9">G#</option>
                            <option value="10">A</option>
                            <option value="11">A#</option>
                            <option value="12">B</option>
                        </select>
                    </label>

                    <button type="submit">Update song</button>
                </form>


                <%}else{ %>
                    <form method="post" action="/songs/new">
                        <h1>Add new song</h1>
                        <input placeholder="Song name" name="songName" pattern="^[a-zA-Z]+.*\S$" required>
                        </input>
                        <input placeholder="Interpreter name" name="interpreterName" pattern="^[a-zA-Z]+.*\S$" required>
                        </input>
                        <input placeholder="Tempo" name="tempo" required>
                        </input>
                        <select name="tone">
                            <option value="1">Select a Tone(Default C)</option>
                            <option value="1">C</option>
                            <option value="2">C#</option>
                            <option value="3">D</option>
                            <option value="4">D#</option>
                            <option value="5">E</option>
                            <option value="6">F</option>
                            <option value="7">F#</option>
                            <option value="8">G</option>
                            <option value="9">G#</option>
                            <option value="10">A</option>
                            <option value="11">A#</option>
                            <option value="12">B</option>
                        </select>

                        <button type="submit">Add song</button>
                    </form>

                    <%}%>
        </main>
</body>

</html>