<html>

<head>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/resets.css" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body>
    <%- include("partials/navbar.ejs") %>
        <% if(locals.record){ %>
            <h1>Update info</h1>
            <form method="post" action="/new/<%=record.id%>">
                <label>
                    Song:
                    <select name="songId" required>
                        <option value="<%= record.song.id %>">
                            Select a song (Selected <%=record.song.name %>)
                        </option>
                        <% locals.songs.forEach( (song)=> { %>
                            <option value=<%=song.id%>>
                                <%=song.name%>
                            </option>
                            <%});%>
                    </select>
                </label>
                <label>
                    Singer:
                    <select name="singerId" required>
                        <option value="<%= record.singer.id %>">
                            Select a singer (Selected <%= record.singer.name %>)
                        </option>
                        <% locals.singers.forEach((singer)=>{ %>
                            <option value=<%=singer.id%>>
                                <%=singer.name%>
                            </option>
                            <%})%>
                    </select>
                </label>
                <label>
                    Tone:
                    <select name="toneId" required>
                        <option value="<%=record.tone.id %>">
                            Select a Tone (Selected <%= record.tone.name %>)
                        </option>
                        <option value="1">C</option>
                        <option value="2">C#</option>
                        <option value="3">D</option>
                        <option value="4">D#</option>
                        <option value="5">E</option>
                        <option value="6">F</option>
                        <option value="7">F#</option>
                        <option value="8">G</option>
                        <option value="9">G#</option>
                        <option value="10">A</option>
                        <option value="11">A#</option>
                        <option value="12">B</option>
                    </select>
                </label>
                <button type="submit">Update record</button>
            </form>

            <% }else{ %>

                <h1>Create a new info</h1>
                <form method="post" action="/new">
                    <label>
                        Song:
                        <select name="songId" required>
                            <option value="">Select a song</option>
                            <% locals.songs.forEach( (song)=> { %>
                                <option value=<%=song.id%>>
                                    <%=song.name%>
                                </option>
                                <%});%>
                        </select>
                    </label>
                    <label>
                        Singer:
                        <select name="singerId" required>
                            <option value="">Select a singer</option>
                            <% locals.singers.forEach((singer)=>{ %>
                                <option value=<%=singer.id%>>
                                    <%=singer.name%>
                                </option>
                                <%})%>
                        </select>
                    </label>
                    <label>
                        Tone:
                        <select name="toneId" required>
                            <option value="">Select a Tone</option>
                            <option value="1">C</option>
                            <option value="2">C#</option>
                            <option value="3">D</option>
                            <option value="4">D#</option>
                            <option value="5">E</option>
                            <option value="6">F</option>
                            <option value="7">F#</option>
                            <option value="8">G</option>
                            <option value="9">G#</option>
                            <option value="10">A</option>
                            <option value="11">A#</option>
                            <option value="12">B</option>
                        </select>
                    </label>
                    <button type="submit">Add record</button>
                </form>
                <% } %>

</body>

</html>